.moveButton {
  font-size: 125%;
  background: transparent;
  border: 2px solid #0099CC;
  border-radius: 5px;
  margin-top: 5px;
  cursor: pointer;
  text-align: center;
}

.answer {
  margin: 20px 20px 20px 20px;
}

.title {
  font-size: 160%;
}

.question {
  font-size: 120%;
  height: 100px;
  minHeight: 100px;
}
