.answer {
  margin: 20px 20px 20px 20px;
}

.title {
  font-size: 160%;
}

.question {
  font-size: 120%;
  height: 100px;
  minheight: 100px;
}

.statusStyle {
  height: 50px;
  font-size: 200%;
  margin-top: 10;
}

.center {
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

.btnGroup {
  display: flex;
}

.btnFlex {
  flex: 1;
  height: 200px;
}

.moveButton {
  font-size: 125%;
  background: transparent;
  border: 2px solid #0099cc;
  border-radius: 5px;
  margin-top: 5px;
  cursor: pointer;
  text-align: center;
}

.newGameButton {
  font-size: 125%;
}
